.venv
.vscode
fuzzdeploy/__pycache__
fuzzers/aflplusplus4_08c
fuzzers/ctxhtfuzz*
fuzzers/htfuzz
fuzzers/mopt
fuzzers/aflgo
fuzzers/dynfuzz
fuzzers/dynfuzz_aflshowmap
fuzzers/dynfuzz09
fuzzers/deltafuzz
fuzzers/*/repo
fuzzers/*/*.tar.xz
fuzzers/*/*.tar.gz
fuzzers/*/*.zip
targets/*/repo
targets/*/*.tar.xz
targets/*/*.tar.gz
targets/*/*.zip
targets/libtiff_v3.9.7
targets/swftools_0.9.2
tests
workdir*
pyrightconfig.json